.image-container {
  position: relative;
  width: 100%; /* Ensure it takes full width of the slide */
}

.gradient-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Blackish gradient */
  z-index: 1; /* Place it above the image but below other content */
}

.image-container img {
  position: relative; /* Position images to allow layering with the overlay */
  z-index: 0; /* Ensure images are below the overlay */
}

.coupleImg {
  box-shadow: -12px -12px 1px #566f9e;
}

/* Custom Spinner (Imported) */
.spinner {
  position: relative;
  width: 6.7px;
  height: 6.7px;
}

.spinner div {
  animation: spinner-4t3wzl 1.5s infinite backwards;
  background-color: #a7a8f8;
  border-radius: 50%;
  height: 100%;
  position: absolute;
  width: 100%;
}

.spinner div:nth-child(1) {
  animation-delay: 0.12s;
  background-color: rgba(167, 168, 248, 0.9);
}

.spinner div:nth-child(2) {
  animation-delay: 0.24s;
  background-color: rgba(167, 168, 248, 0.8);
}

.spinner div:nth-child(3) {
  animation-delay: 0.36000000000000004s;
  background-color: rgba(167, 168, 248, 0.7);
}

.spinner div:nth-child(4) {
  animation-delay: 0.48s;
  background-color: rgba(167, 168, 248, 0.6);
}

.spinner div:nth-child(5) {
  animation-delay: 0.6000000000000001s;
  background-color: rgba(167, 168, 248, 0.5);
}

@keyframes spinner-4t3wzl {
  0% {
    transform: rotate(0deg) translateY(-200%);
  }

  60%,
  100% {
    transform: rotate(360deg) translateY(-200%);
  }
}

/* Toast CSS  */

.custom-toast-body {
  color: #040511 !important; /* Custom text color */
  font-family: "Poppins", system-ui, -apple-system, sans-serif;
  font-size: 14px;
  font-weight: 500;
  background-color: #adc0ff !important;
}

.Toastify__toast {
  background-color: #adc0ff !important;
}

.navBar {
  background: rgb(30, 30, 47);
  background: linear-gradient(
    35deg,
    rgba(238, 238, 255, 0.753) 0%,
    rgba(255, 255, 255, 0.747) 39%,
    rgba(246, 246, 255, 0.808) 83%
  );
  backdrop-filter: 80px;
}

.accomodation {
  background: rgb(206, 212, 240);
  background: radial-gradient(
    circle,
    rgb(205, 211, 238) 0%,
    rgb(215, 222, 238) 80%
  );
}

.darkbg {
  background: rgb(50, 56, 84);
  background: radial-gradient(
    circle,
    rgba(50, 56, 84, 1) 0%,
    rgba(31, 44, 70, 1) 72%
  );
}

/* mapbox marker style */

/* styles.css */
.popup-title {
  font-family: "Poppins", system-ui, -apple-system, sans-serif !important;
  margin: 0 !important;
  color: #ff1a67 !important;
}

.popup-container {
  text-align: center !important;
  background-color: #d6f0ff !important;
  border-radius: 5px !important;
  padding: 4px 5px !important;
}

.mapboxgl-popup-close-button {
  background-color: transparent !important; /* Background color */
  color: red; /* Icon color */
  font-size: 20px;
  border: none; /* Remove border */
  cursor: pointer; /* Change cursor on hover */
  padding: 2px; /* Add padding */
  transition: color 0.3s ease; /* Add transition for smooth color change */
}

.mapboxgl-popup-close-button:hover {
  color: darkred; /* Change color on hover */
}

.mapboxgl-popup-close-button:focus {
  outline: none; /* Remove focus outline */
}

.categoryBg {
  background: rgba(50, 56, 84, 0.692);
  background: radial-gradient(
    circle,
    rgba(50, 56, 84, 0.801) 0%,
    rgba(31, 44, 70, 0.623) 72%
  );
}

.listingCard {
  box-shadow: 6px 6px 1px rgb(153, 158, 196) !important;
}

.mainAcco {
  background: rgb(56, 76, 77);
  background: radial-gradient(
    circle,
    rgba(56, 76, 77, 1) 0%,
    rgba(55, 59, 71, 1) 100%
  );
}
/* Change the color of the active dot */
.swiper-pagination-bullet {
  background-color: #e6eaff !important;
  opacity: 1 !important;
  /* box-shadow: 4px; */
}

.swiper-pagination-bullet-active {
  background-color: #ff3477 !important;
}

/* datepicker.css */
/* datepicker.css */

.react-datepicker {
  /* @apply bg-white border border-gray-300 rounded-md shadow-lg; */
  background-color: #33395d !important;
  border: 1px solid #837177 !important;
  box-shadow: 2px 2px 5px slategray;
}

.react-datepicker__header {
  /* @apply bg-gray-100 border-b border-gray-200; */
  background-color: #a0a3ff !important;
}

/* .react-datepicker__day--selected {
  background-color: blue !important;
} */

/* .react-datepicker__day--keyboard-selected {
  @apply text-white bg-blue-400;
} */

.react-datepicker__day--today {
  /* @apply border border-blue-500; */
  border: 1px solid lightcyan !important;
  border-radius: 4px !important;
}
